 /*###################### MEDIA SCREEN ######################*/

 @media screen and (max-width: 370px) {

    /*######################### HEADER ######################*/

    .logo {
      float: none;
      overflow: hidden;
      line-height: 20px;
      letter-spacing: normal;
      font-size: 18px;
      margin: 15px;
      position: absolute;
      top: 10%;
      left: 25px;
    }
    .role{
        font-size: 15px;
        top: 15%;
        left: 50px !important;
    }
    .proj_btn{
        font-size: 12px;
        top: 22%;
        left: 45px;
        padding: 5px;
    }
    nav {
      display: flex;
      width: 100%;
      float: none;
      overflow: hidden;
      justify-content: space-around;
      margin-top: 0;
      padding: 10px;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .active{
        font-size: 18px;
    }
    
    .about_title{
        position:unset; font-size: 20px;/* top: 14rem; font-size: 18px;*/
    }
    .email{
        position:unset; font-size: 18px;/* top: 15rem; font-size: 15px; color:rgb(250, 86, 149)*/
    }
    .about_p{
        position:unset; font-size: 16px; padding: 15%; letter-spacing: 2.5px;/*top: 17rem; font-size: 13px;  letter-spacing: 0; line-height: 1.5rem;*/
    }
    .check{
        position:unset; font-size: 18px;/*top: 24rem; font-size: 15px;*/
    }
    /*############# DIVISIONS ##################*/
    #div1{
       
        background-size: 100%;
        height: 210px;
    }
    .second{
       
        background-image: none;
        display: flex;
        flex-direction: column;
        height: unset;
        border: 10px;
        padding: 5px;
    }
    .third{
       
        background-size: 100%;
        background-repeat: repeat-y;
        height: 100px;
        
    }
    .fourth{
        height: 210px;
    }
    .fifth{
       background-image: none;
       
       height:unset;
       
    }
    td{
        margin:4px;
        padding: 3px;
    }
    .mySlides {
        height: 100%;
        width: 100%;
    }
    .proj{
        width: 100%; height: 100% !important; position:unset ; /*top: 35.7rem; left: 21%;*/
    }
   
    .myproj{
        letter-spacing: 2px; border-radius: 55px; padding: 8px;  font-size: 22px;
    }
    .table{
        padding: 15%; color:rgb(240, 95, 139); display: grid; 
              grid-template-columns: repeat(2, minmax(100px, 200px)); 
              grid-template-rows: repeat(11, 15%); margin-top:0; 
      }
      .skills{
        position: absolute; top: 63.5rem;margin-left: 24%; font-size: 18px;
      }
  
    .thisweb{
        /*position: absolute; top: 70rem; left: 20%;text-align: center !important;*/
    }
    .socials{
        float: left; margin-left: 20%; margin-top: 18px;
    }
    .numbertext{
        font-size: 10px;
        top: 51rem;
        color: yellow;
    }
    .div1, .second, .third, .fourth, .fifth, footer{
        background-color:white;
    }
    .layout{
        display: none;
    }
    footer{
        margin-top: 59%;
    }
  }
